* {
    background-color: #111;
}

.task-container {
    display: flex;
    justify-content: space-between;  /* Evenly space the columns */
    padding: 1em;
}

.column {
    flex: 1;  /* Make each column take equal space */
    margin: 0 1em;  /* Add some margin between columns */
    text-align: center;  /* Center-align the text within each column */
    margin-left: 5em;
    margin-right: 5em;
}

.column task-list {
    display: block;
}
