@keyframes slide-in {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes pop-out {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }  

.list {
    border: 3px solid #428e8e;
    border-radius: 10px;
    background-color: #222;
    text-align: center;
    padding: auto 0;
    color: white;
}

.header-container {
    max-width: fit-content;
    margin-inline: auto;
    padding: 0 auto;
    justify-content: space-between;
}

.header {
    width: 150px;
}

.list:hover {
    background-color: #333;
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 0.5em;
    border-radius: 5px;
    background-color: #444;
    border: black, 1px, #444;
    height: auto;
    min-height: 50px;
    max-width: 100%;    
}

.task-container p {
    color: #CCC;
    font-size: large;
}

.task-container textarea {
    color: #CCC;
    font-size: large;
    background-color: #444;
    border: none;
    width: 100%; /* Allow full width */
    height: auto; /* Adjust height dynamically */
    overflow: hidden; /* Hide overflow */
    resize: none; /* Prevent manual resize */
}

.task {
    overflow: auto;
    text-align: left;
}

.Completed {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

.icon {
    --icon-color: #000; /* default */
    --hover-color: #000; /* default */
    color: var(--icon-color);
    cursor: pointer;
}
  
.icon:hover {
    color: var(--hover-color);
}

.red-icon {
    --icon-color: #b02828;
    --hover-color: #d03838;
}

.gray-icon {
    --icon-color: #BBB;
    --hover-color: #EEE;
}

.blue-icon {
    --icon-color: #3e9bc6;
    --hover-color: #49e9e9;
}  

.green-icon {
    --icon-color: #2e9638;
    --hover-color: #4ee949;
}  
    
.material-icons {
    margin-left: 10px;
}