<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="list">
    <div class="header-container">
        <h2 class="header" (click)="addTask(header)"> {{ header }} </h2>
    </div>
</div>
@for (task of tasks; track task) {
    <div class="task-container">
        <span class="task" (click)="promoteTask(task)"><p>{{task.text + " " +task.id}}</p></span>
        <span class="icons">
            <i id="edit-icon" class="material-icons" (click)="editTask(task)">edit</i>
            <i id="trash-icon" class="material-icons" (click)="deleteTask(task)">delete</i>
        </span>
    </div>
}