<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div *ngIf="header === 'Idle'; then IdleHeader else OtherHeaders"></div>
    <ng-template #IdleHeader>
        <div class="list" (click)="addTask(header)">
            <div class="header-container">
                <h2 class="header"> {{ header }} </h2>
            </div>
        </div>
    </ng-template>
    <ng-template #OtherHeaders>
        <div class="list">
            <div class="header-container">
                <h2 class="header"> {{ header }} </h2>
            </div>
        </div>
    </ng-template>

<!-- icons: promote delete , demote done delete , demote delete-->
<div *ngFor="let task of tasks" class="task-container">
    <ng-template [ngIf]="header === 'Idle'">
        <div *ngIf="!task.edit; then ViewMode else EditMode"></div>
        <ng-template #ViewMode>
            <span class="task"><p id={{task.id}} class={{header}} (click)="toggleEdit(task)">{{task.text}}</p></span>
            <span class="icons">
                <i class="material-icons icon blue-icon" (click)="promoteTask(task)">arrow_upward</i>
                <i class="material-icons icon gray-icon" (click)="deleteTask(task)">delete</i>
            </span>
        </ng-template>
        <ng-template #EditMode>
            <span class="task"><textarea id={{task.id}} class={{header}} autocomplete="off" (keydown.enter)="confirmEdit(header, task)" (input)="adjustTextareaHeight($event)">{{task.text}}</textarea></span>
            <span class="icons">
                <i class="material-icons icon green-icon" (click)="confirmEdit(header, task)">done_outline</i>
                <i class="material-icons icon red-icon" (click)="toggleEdit(task)">cancel</i>
            </span>
        </ng-template>
    </ng-template>

    <ng-template [ngIf]="header === 'Started'"> 
        <span class="task"><p id={{task.id}} class={{header}}>{{task.text}}</p></span>
        <span class="icons">
            <i class="material-icons icon red-icon" (click)="demoteTask(task)">arrow_downward</i>
            <i class="material-icons icon green-icon" (click)="promoteTask(task)">done</i>
            <i class="material-icons icon gray-icon" (click)="deleteTask(task)">delete</i>
        </span>
    </ng-template>

    <ng-template [ngIf]="header === 'Completed'"> 
        <span class="task"><p id={{task.id}} class={{header}}>{{task.text}}</p></span>
        <span class="icons">
            <i class="material-icons icon red-icon" (click)="demoteTask(task)">arrow_downward</i>
            <i class="material-icons icon gray-icon" (click)="deleteTask(task)">delete</i>
        </span>
    </ng-template>
</div>
